* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

.dashboard-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% calc(80% - 1rem);
  column-gap: 1rem;
  background: #ddd;
  color: #333;
}

.dashboard-container.dark {
  background: #202020;
  color: #e0e0e0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0.25rem;
}

.dashboard-container.dark .card-wrapper {
  background: #2e2e2e;
}
